body{
    background-color: aqua;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    max-width: fit-content;
    padding: 5rem 5rem 5rem 5rem;
    background-color: orange;
    border: solid darkred .2rem;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10%;
}

.container h1{
    background-color: cyan;
    border-radius: 100rem;
    text-align: center;
    width: fit-content;
    font-size: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: 1rem;

    margin-right: auto;
}

.container input{
    font-size: 2rem;
    width: 15ch;
    border: solid white .1rem;
    border-radius: 100rem 0rem 0rem 100rem;
}

.container #EnterItem{
    background-color: white;
    border: solid black .1rem;
    border-radius: 0 1rem 1rem 0;
    font-size: 2rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

.container #EnterItem:hover{
    background-color: gray;
}

#toDoList{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

#toDoList li{
    background-color: lightgrey;
    width: fit-content;
    height: 2rem;
    border-radius: 100rem;
    padding-left: 1rem;
    padding-right: .5rem;
    display: flex;
    align-items:center;
    margin-top: .1rem;
    margin-bottom: .1rem;
}

#toDoList li span{
    margin-right: 1rem;
    font-size: 2rem;
}


#checkBox{
    border: solid gray .1rem;
    width: fit-content;
    border-radius: 100rem;
}

#checkBox i{
    color: black;
}

#checkBox:hover{
    border: solid yellow .1rem;
}



#trashButton{
    display: flex;
    width: fit-content;
    justify-content: center;
    border: solid gray .1rem;
    background-color: red;
    border-radius: 100rem;
    margin-left: .1rem;
}

#trashButton i{
    color: white;
}

#trashButton:hover{
    border: solid yellow .1rem; 
}